{
  "policies": {
    "AppAutoUpdate": true,
    "AutofillAddressEnabled": false,
    "AutofillCreditCardEnabled": false,
    "BlockAboutConfig": false,
    "BlockAboutProfiles": true,
    "BlockAboutSupport": false,
    "NoDefaultBookmarks": true,
    "DisplayBookmarksToolbar": "NewTab",
    "Bookmarks": [
      {
        "Title": "facebook",
        "URL": "https://facebook.com",
        "Favicon": "https://www.facebook.com/favicon.ico",
        "Placement": "toolbar"
      },
     {
        "Title": "Google",
        "URL": "https://google.com",
        "Favicon": "https://www.google.com/favicon.ico",
        "Placement": "toolbar"
      },
     {
        "Title": "Gmail",
        "URL": "https://Gmail.com",
        "Favicon": "https://www.gmail.com/favicon.ico",
        "Placement": "toolbar"
      }
    ]
  }
}
