[Desktop Entry]
Version=1.0
Name=Keyboard
Comment=Edit keyboard settings and application shortcuts
Keywords=numlock;keyboard;layout;shortcuts;
Exec=xfce4-keyboard-settings
Icon=org.xfce.settings.keyboard
Terminal=false
Type=Application
Categories=GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;X-XFCE;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpPage=keyboard
X-Desktop-File-Install-Version=0.26
X-XFCE-Source=file:///usr/share/applications/xfce-keyboard-settings.desktop
