[Desktop Entry]
Type=Application
Exec=sh -c "sleep 10 && conky -c /etc/conky/conky.conf"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Conky
Comment=System Info on Desktop