<?xml version="1.0" encoding="UTF-8"?>

<channel name="xfce4-session" version="1.0">
  <property name="general">
    <property name="FailsafeSessionName" type="string" value=""/>
    <property name="LockCommand" type="string" value=""/>
    <property name="SessionName" type="string" value="Default"/>
    <property name="SaveOnExit" type="bool" value="false"/>
  </property>
  <property name="sessions">
    <property name="Failsafe">
      <property name="IsFailsafe" type="bool" value="false"/>
      <property name="Count" type="int" value="0"/>
      <!-- Client0 settings -->
      <property name="Client0">
        <property name="ShowHibernate" type="bool" value="false"/>
        <property name="ShowHybridSleep" type="bool" value="false"/>
        <property name="ShowSuspend" type="bool" value="false"/>
        <property name="ShowLockScreen" type="bool" value="false"/>
        <property name="ShowLogout" type="bool" value="false"/>
      </property>
    </property>
  </property>
  <property name="shutdown">
    <!-- Restart and Shutdown remain visible -->
    <property name="LockScreen" type="bool" value="false"/>
    <property name="ShowRestart" type="bool" value="true"/>
    <property name="ShowShutdown" type="bool" value="true"/>
  </property>
</channel>